/* .Logo {
  height: 40px;
}

.LogoutButton {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.LogoutButton:hover {
  background-color: brown;
} */

.CommentName {
  margin: 3px;
  font-size: 0.85rem;
  color: #444;
}

.CommentText {
  margin: 3px;
}

.SystemName {
  margin: 3px;
  font-size: 0.85rem;
  color: #444;
}

.SystemText {
  margin: 3px;
}

.ChatLogSpace {
  border: 3px;
}
